@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif ;
}
header{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0px auto;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
nav{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.nav-logo img{
    max-width: 229px;
    max-height: 32px;
}
.nav-menu ul{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav-menu li{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
}
.nav-btn{
    font-weight: 600;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border-radius: 10000px;
    font-size: 1rem;
    border: none;
    background-image: linear-gradient(to top right,#F7E93F,#FB09B4,#9100F8);
}
.hamburger{
    display: none;
}


    /* banner section */


.banner{
    background-color: #1A0B2E;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    min-height: 100vh;
    height:Auto;
    background-image: url(assets/hero-bg.png);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 101px;
}
.img-background{
 background-image: url(assets/hero-circle.png);  
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 width: 350px;
 height: 350px;
 display: flex;
 justify-content: center;
 align-items: center;
 position:absolute;

}
.img-background img{
    width: 116px;
    height: 175px;
    top: 0%;
}
.banner-text{
    text-align: center;
    transform: translateY(250%);    
}
.banner-title{
    font-size: 3.75rem;
    font-weight:800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.banner-description{
    color: #FFFFFF;
    margin-bottom: 1.5rem;

}
.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-1{
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 20px;
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
}
.btn-2{
    font-weight: 600;
    color: #00FF88;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    background-color: transparent;
    cursor: pointer;
}
.new-badge{
    color: #1A0B2E;
    font: 18px;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    position: relative;
    transform: translateX(180%) translateY(-500%);
    
}
.about{
    padding-top: 50px;
    background-color: #1A0B2E;
    
}
.about-text{
    max-width: 1200px;
    margin: 0 auto;
}
.about-heading{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
.about-description{
    color: #FFFFFF;
    text-align: center;
    line-height: 1.25rem;
}
.about hr{
    max-width: 1200px;
    margin: 80px auto;
    color: #FFFFFF;
    opacity: 0.1;
}
.about-statistics{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}
.card-heading{
    font-size: 3rem;
    font-weight:900;
    color: #00FF88;
    margin-bottom: 16px;
}
.card-text{
    line-height: 1.25rem;
    color: #FFFFFF;
}
.choose{
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.choose-heading, .feature-heading, .host-heading{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.choose-cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.card-1,.card-2,.card-3,.card-4,.card-5{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}
.card-1{
    grid-row:span 2;
    padding: 107.5px 40px;
}
.card-2,.card-3, .card-4{
    grid-column:span 2;
}
.card-icon{
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.card-text{
    color: #FFFFFF;
    line-height: 1.5rem;
}
.feature, .host{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #1A0B2E;
    width: 100vw;
}
.feature-cards{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}
.card{
    background-color: #250D44;
    border-radius: 24px;
}
.card iframe{
    border-radius: 24px 24px 0px 0px;
}
.feature-card-text{
    padding: 24px;
}
.feature-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}
.feature-text{
    color: #FFFFFF;
    line-height: 1.5rem;
    margin-bottom: 12px;
}
.feature-time{
    font-weight: 600;
    line-height: 1.5rem;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 6px;
}
.host{
    padding-top: 0px;
}
.host-background{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 40px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}
.host-title{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.host-description{
    color: #FFFFFF;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.host-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}
.host-icon p{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #533C72;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.host-icon img{
    width: 20px;
    height: 20px;
}





@media screen and (max-width:576px) {
    nav{
        width: 90%;
    }
    .nav-menu,.nav-btn{
        display: none; 
    }
    .hamburger{
        display: inline;
    }
    .banner{
    max-width: 576px;
    width: 100vw;
    background-position:top;
    /* height: 100vh; */
    background-size: 1100px;
    position: relative;
   
    
}
.img-background{
    width: 200px;
    height: 200px;
    background-position: top;
}
.img-background img{
    width: 80px;
    height: 80px;
}
.banner-text{
    transform: translateY(115%);
    max-width: 400px;
}
.new-badge{
    margin-right: 60px;
    margin-top: -15px;
}
.about{
    position: absolute;
    width: 100%;
    top: 600px;
}
.about-text{
    max-width: 440px;
    margin: 0 auto;
}
.about-statistics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 440px;
    margin: 0 auto;
}
.choose{
    position: absolute;
    top: 1400px;
}
.choose-cards{
    display: grid;
    grid-template-columns:1fr;
}
.card-1{
    grid-row:span 1;
}
.card-2,.card-3, .card-4{
    grid-column: span 1;
}
.feature{
    position: absolute;
    top: 3290px;
}
.feature-cards{
    flex-direction: column;
    width: 99%;
}
.feature-heading{
    font-size: 2rem;
}
.feature-title{
    font-size: 1.25rem;
    margin-bottom: 8px;
}
.feature-text{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 6px;
}

}






















/* for very small device */
@media screen and (max-width:450px) {
    .feature{
        margin-top: 130px;
    }
}
@media screen and (max-width:380px) {
    .feature{
        margin-top: 180px;
    }
}