@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif ;
}
header{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0px auto;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
nav{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.nav-logo img{
    max-width: 229px;
    max-height: 32px;
}
.nav-menu ul{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav-menu li{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
}
.nav-btn{
    font-weight: 600;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border-radius: 10000px;
    font-size: 1rem;
    border: none;
    background-image: linear-gradient(to top right,#F7E93F,#FB09B4,#9100F8);
}
.hamburger{
    display: none;
}


    /* banner section */


.banner{
    background-color: #1A0B2E;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    min-height: 100vh;
    height:Auto;
    background-image: url(assets/hero-bg.png);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 101px;
}
.img-background{
 background-image: url(assets/hero-circle.png);  
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 width: 350px;
 height: 350px;
 display: flex;
 justify-content: center;
 align-items: center;
 position:absolute;

}
.img-background img{
    width: 116px;
    height: 175px;
    top: 0%;
}
.banner-text{
    text-align: center;
    transform: translateY(250%);    
}
.banner-title{
    font-size: 3.75rem;
    font-weight:800;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.banner-description{
    color: #FFFFFF;
    margin-bottom: 1.5rem;

}
.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-1{
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 20px;
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
}
.btn-2{
    font-weight: 600;
    color: #00FF88;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    background-color: transparent;
    cursor: pointer;
}
.new-badge{
    color: #1A0B2E;
    font: 18px;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    position: relative;
    transform: translateX(180%) translateY(-500%);
    
}
.about{
    padding-top: 50px;
    background-color: #1A0B2E;
    
}
.about-text{
    max-width: 1200px;
    margin: 0 auto;
}
.about-heading{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
.about-description{
    color: #FFFFFF;
    text-align: center;
    line-height: 1.25rem;
}
.about hr{
    max-width: 1200px;
    margin: 80px auto;
    color: #FFFFFF;
    opacity: 0.1;
}
.about-statistics{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}
.card-heading{
    font-size: 3rem;
    font-weight:900;
    color: #00FF88;
    margin-bottom: 16px;
}
.card-text{
    line-height: 1.25rem;
    color: #FFFFFF;
}




@media screen and (max-width:576px) {
    nav{
        width: 90%;
    }
    .nav-menu,.nav-btn{
        display: none; 
    }
    .hamburger{
        display: inline;
    }
    .banner{
    max-width: 576px;
    width: 100vw;
    background-position:top;
    /* height: 100vh; */
    background-size: 1100px;
    position: relative;
   
    
}
.img-background{
    width: 200px;
    height: 200px;
    background-position: top;
}
.img-background img{
    width: 80px;
    height: 80px;
}
.banner-text{
    transform: translateY(115%);
    max-width: 400px;
}
.new-badge{
    margin-right: 60px;
    margin-top: -15px;
}
.about{
    position: absolute;
    width: 100%;
    top: 600px;
}
.about-text{
    max-width: 440px;
    margin: 0 auto;
}
.about-statistics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 440px;
    margin: 0 auto;
}
}